.header {
    position: relative;
    background-color: white;
    padding: 5px 5px 5px 5px;
    width: fit-content;
    color: black;
    border: 2px solid #fa003f;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
    text-align: center;
}

.grocery_store_name{
    background-color: white;
    color: #fa003f;
    border: 2px solid #fa003f;
    font-family: "Courier New", Verdana, sans-serif;
    padding: 20px;
    text-align: left;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

footer{
    text-align: right;
    font-size: .75em;
}

.tabLinks{
    color:black;
    border: 1px solid #fa003f; 
    background-color: white;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.80em;
}

#categoryButton{
    color:black;
    border: 1px solid #fa003f; 
    background-color: white;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.80em;
    padding: 5px;
}

.tabLinks:hover, #categoryButton:hover{
    cursor: pointer;
    color: #fa003f; 
}

.tabContent{
    display: none;
}

.sameLine{
    display: inline-block;
    margin: 0;
}

.slider{
    accent-color: #fa003f; 
}

#addCart{
    color:black;
    border: 2px solid #fa003f; 
    Padding: 5px;
    background-color: white;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size:1em;
    font-weight:bold;
}

#addCart:hover{
    cursor: pointer;
    color: #fa003f; 
}

#showProducts div{
    display:list-item;
}

.productImg{
    width:60px;
    height: auto;
}


.productTable{
    border-collapse: collapse;
    width: 80%;
    margin-bottom:20px;
}


.productTable th, 
.productTable td{
    border: 1px solid #fa003f;
    padding: 8px;
    text-align: center;
}